.button {
    background: $blue;
    color: #fff;
    border-style: none;
    display: inline-block;
    font-weight: 300;
    font-size: $font-size-large;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}
.button--secondary {
    @extend .button;
    background: #888888;
}
.button--link {
    background: none;
}
